@{
  Layout = "_Layout";
}

@model TreatTracker.Models.Treat
@using TreatTracker.Models

<h2>Treat Details</h2>
<hr />
<p>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</p>
<hr />

@if (@Model.FlavorTreats.Count == 0)
{
  <p>This treat doesn't have any flavors!</p>
}
else 
{
  <h4>Flavors assigned to this treat:</h4>
  @foreach (FlavorTreat join in Model.FlavorTreats)
  {
    <p>@join.Flavor.Name</p>
     @using(Html.BeginForm("DeleteJoin", "Flavors"))
      {
        @Html.Hidden("joinId", @join.FlavorTreatId)
        <input type="submit" value="Delete"/>
      }
  }
}
<hr />
<p>@Html.ActionLink("Add Flavor To Treat", "AddFlavor", new {id = Model.TreatId})</p>
<p>@Html.ActionLink("Edit Treat", "Edit", new {id = Model.TreatId})</p>
<p>@Html.ActionLink("Delete Treat", "Delete", new {id = Model.TreatId})</p>