@{
  Layout = "_Layout";
}

@model TreatTracker.Models.Flavor

<H2>Edit @Html.DisplayFor(model => model.Name)</h3>

@using (Html.BeginForm())
{
  <p>@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>
  @Html.HiddenFor(model => model.FlavorId)
  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)
  <br>
  <input type="submit" value="Update Flavor Details"/>
}

<p>@Html.ActionLink("Back To Flavor", "Details", new {id = Model.FlavorId})</p>